header {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 20px;
}

#criar-tarefa {
  width: 60px;
  height: 18px;
}

li {
  font-size: 30px;
}

.taskSelected {
  background-color: gray;
}

.completed {
  text-decoration: line-through;
}
