body {
  background-color: green;
}

#divMaster {
  background-color: white;
  margin: 40px;
  border-radius: 10px;
}

#divInterna {
  margin: 20px;
}

#funcionamento {
  font-family: Arial, Helvetica, sans-serif;
}

#criar-tarefa {
  background-color: rgb(37 , 152 , 219);
  color: white;
  border-radius: 5px;
}

.itemList {
  background-color: gray;
}
