.selecionado {
  color: white;
  background-color: gray;
  border-radius: 30px;
  padding: 5px 20px;
}

.completed {
  text-decoration: line-through solid black;
  text-decoration-thickness: 3px;
}

body {
  background-color: pink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1 {
  font-family: Rock Salt, sans-serif;
  font-size: 2.5em;
  margin: 5% auto 1%;
  max-width: 80%;
  padding-bottom: 0;
  text-align: center;
  text-decoration: underline solid rgba(236 , 255 , 63 , 0.753);
  text-underline-offset: -20px;
  text-decoration-thickness: 0.5em;
  text-decoration-skip-ink: none;
  width: max-content;
}

main {
  background-color: white;
  border-radius: 30px;
  margin: 0 auto auto;
  padding: 2% 10%;
  width: 50%;
}

p {
  color: rgb(1 , 175 , 206);
  font-size: 0.8em;
  font-style: italic;
  margin: 7px;
}

input {
  border-radius: 30px;
  border-color: rgba(1 , 175 , 206 , 0.432);
  margin: 7px;
  font-family: Rock Salt, sans-serif;
  font-size: 1.2em;
  max-width: 100%;
  min-width: 100px;
  padding: 1px 20px;
}

input::selection {
  background-color: rgba(236 , 255 , 63 , 0.61);
}

input:focus {
  outline: 2px solid rgba(236 , 255 , 63 , 0.61);
}

button {
  color: white;
  background-color: rgba(1 , 175 , 206 , 0.432);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  margin: 7px;
  padding: 10px 15px;
  transition: all 0.1s linear;
}

#botoes {
  max-width: max-content;
  min-width: 200px;
  margin: 0 auto;
}

button:hover {
  color: rgb(165 , 179 , 45);
  background: rgba(236 , 255 , 63 , 0.644);
}

button:active {
  color: rgb(143 , 155 , 39);
  background: rgb(236 , 255 , 63);
}

#salvar-tarefas:hover , #salvar-tarefas:focus {
  color: rgb(0 , 168 , 14);
  background: rgba(0 , 255 , 21 , 0.5);
}

#salvar-tarefas:active {
  color: rgb(0 , 122 , 10);
  background-color: rgb(0 , 255 , 21);
}

#lista-tarefas {
  border-left: 2px solid pink;
  padding: 30px 10%;
  margin: 20px 0;
  font-family: Rock Salt, sans-serif;
  font-size: 1.3em;
}

li {
  border-bottom: 2px solid rgba(1 , 175 , 206 , 0.432);
  cursor: pointer;
  max-width: max-content;
}

li:hover {
  border-bottom: 2px solid rgb(1 , 175 , 206);
}

li::selection {
  background-color: none;
}
