* {
  box-sizing: border-box;
  font-family: Roboto slab, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: rgb(215 , 200 , 180);
}

#header {
  background-color: black;
  padding: 16px;
}

#main {
  padding: 16px;
  margin: 16px 0;
}

.button {
  background-color: antiquewhite;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
}

.button:hover {
  filter: brightness(90%);
}

.completed {
  text-decoration: line-through solid black;
}

.clean-list {
  background-color: red;
}

.clean-selected {
  background-color: yellow;
}

.edit-buttons {
  padding: 8px;
}

.fas {
  pointer-events: none;
}

.interaction-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 200px;
  position: sticky;
  top: 0;
}

.list-container {
  display: flex;
  margin: 16px 0;
  padding: 8px;
}

.save-list {
  background-color: lightgreen;
}

.selected {
  background-color: gray;
}

.task {
  font-size: 1rem;
  margin: 4px 0;
  padding: 4px;
}

.task:hover {
  background-color: rgb(188 , 188 , 188);
}

.task-form {
  padding: 8px;
}

.task-form .task-input {
  background-color: black;
  border: none;
  border-radius: 8px;
  color: antiquewhite;
  font-size: 1rem;
  margin-right: 8px;
  padding: 8px;
  transition: box-shadow 0.5s;
}

.task-input:focus {
  outline: none;
  box-shadow: 3px 3px 2px gray;
}

.task-input::placeholder {
  color: rgba(250 , 235 , 215 , 0.855);
}

.task-list {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  margin: 0 8px;
  padding: 16px 16px 16px 32px;
}

.title {
  color: antiquewhite;
  font-size: 2rem;
}

.tutorial {
  font-size: 1rem;
  color: rgba(250 , 235 , 215 , 0.855);
}
