body {
  text-align: center;
  background-color: #b7b7a4;
}

.completed {
  text-decoration: line-through;
}

button {
  margin: 10px;
}

header {
  background-color: #6b705c ;
  margin: 10px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 30px;
  padding: 10px;
}

#container-tarefas {
  border-radius: 5px;
  background-color: #ffffff52;
  margin-right: 300px;
  margin-left: 300px;
  padding-bottom: 100px;
}

li {
  text-align: left;
}